#!/usr/bin/env nextflow
nextflow.enable.dsl=2

params.runOptions = ""

manifest {
    author = 'Phelelani Mpangase'
    defaultBranch = 'main'
    homePage = 'https://github.com/phelelani/nf-qualitycontrol'
    description = ''
    mainScript = 'main.nf'
    version = ''
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.apptainer/cache/"
    runOptions = "--cleanenv " + "${params.runOptions}"
}

executor{
    jobName = { "${task.name.replaceAll(' ','_')}" } 
    queueSize = 10
}

process {
    // GENERAL
    cache = true
    scratch = false
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 2
    memory = 4.GB
    time = 48.h
    maxForks = 20
    errorStrategy = 'finish'

    // CONTAINERS
    withLabel: 'fastqc' { container = 'docker://phelelani/nf-bioinftools:fastqc_v0.12.1' }
    withLabel: 'fastp' { container = 'docker://phelelani/nf-bioinftools:fastp_v1.0.1' }
    withLabel: 'multiqc' { container = 'docker://multiqc/multiqc:v1.29' }
}

// PROFILES
profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
        process.executor = 'pbs'
        process.queue = 'dev'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.project}_${params.workflow}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.project}_${params.workflow}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.project}_${params.workflow}_report.html"
}
dag {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.project}_${params.workflow}_report.dot"
}
